/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

div.learn-more span{
  font-family: Gidole, sans-serif !important;  
  color: #C10933;
  font-weight: bold;
}
