div.light-grey-background aside{
  padding: 15px;
  height: 100%;
  background-color: transparentize(#dfdfdf, 0.8);
  text-align: center;
}

div.light-grey-background aside textarea{
  background: none !important;
  font-family: Oswald !important;
  color: #C10933;
  text-transform: uppercase;
  font-size: 1.4em !important;
  height: auto !important;
  letter-spacing: .15em;
  text-align: center;
}

div.light-grey-background aside textarea:first-of-type{
  color: #C10933 !important;
}

div.btn{
  margin: 10px auto;
}
