/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

img.icon{
  max-width: 70px;
  max-height: 70px;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  text-align: center;
}
